.uos-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.875rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

	.uos-button--primary {
	  color: white;
	  background-color: #c4222a;
	}

	.uos-button--secondary {
	  color: #c4222a;
	  background-color: transparent;
	  box-shadow: #c4222a 0px 0px 0px 1px inset;
	}

	.uos-button--small {
	  font-size: 12px;
	  padding: 10px 16px;
	}

	.uos-button--medium {
	  font-size: 14px;
	  padding: 11px 20px;
	}

	.uos-button--large {
	  font-size: 16px;
	  padding: 12px 24px;
	}
